body {
	font-size: 10px;
	text-align: center;
	font-family: Helvetica, arial, sans-serif;
	-webkit-touch-callout: none !important;
	-webkit-user-select: none !important; 
}

#myButton {
	margin: 2em auto;
	padding: 1em; 
	font-size: 3em;
	display: inline-block;
	background: #36a;
	border-radius: 4px;
	border: 1px solid #555;
	color: #fff;
	text-shadow: 1px 1px 0 #222;
	text-align: center;
	cursor: pointer;
}

#display {
	font-size: 3em;	
	color: #333;

}